input:focus,
textarea:focus {
    border: 1px solid var(--lightblue);
    outline: none;
}

.input-field {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    height: 46px;
    width: 264px;
    font-weight: 200;
}

.input-field::placeholder {
    font-size: 20px;
    color: #E7E7E7;
}

.btn-dark {
    background-color: var(--darkblue);
    color: var(--textwhite);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    height: 46px;
    gap: 10px;
    padding: 0 24px;
    font-weight: 600;
}

.btn-dark:hover {
    cursor: pointer;
    background-color: var(--lightblue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transform: translateY(-1px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.btn-dark-responsive {
    background-color: var(--darkblue);
    color: var(--textwhite);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    gap: 10px;
    padding-left: 10px;
    font-weight: 600;
}

.btn-dark-responsive:hover {
    cursor: pointer;
    background-color: var(--lightblue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transform: translateY(-1px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

progress {
    max-width: 50%;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(1000px);
    }
}

.slide-in {
    animation: slide-in 0.2s ease-in-out forwards;
}

.slide-out {
    animation: slide-out 0.2s ease-in-out forwards;
}

.label {
    color: var(--darkblue);
    width: 100px;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../assets/img/checkbox.png');
    background-size: cover;
    cursor: pointer;
}

input[type="checkbox"]:checked+.custom-checkbox {
    background-image: url('../assets/img/checkbox-checked.png');
}

.btn-delete-task:hover {
    content: url('../assets/img/dustbinBlueText.svg');
    cursor: pointer;
}

.btn-edit-task:hover {
    content: url('../assets/img/editBlue.svg');
    cursor: pointer;
}

form {
    flex-direction: column;
    width: 100%;
    padding-right: 16px;
    gap: 20px;
}

label {
    font-weight: 400;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input:hover,
textarea:hover {
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    font-weight: 200;
    color: var(middlegrey);
}

.input-assigned-edit {
    background: url('../assets/img/drop-down-arrow.png') no-repeat right 12px center;
    background-size: 12px;
    font-weight: 200;
}

textarea {
    resize: vertical;
}

.form-actions {
    justify-content: flex-end;
    gap: 10px;
}

ul {
    padding: 0;
    margin: 0;
}