@media (max-width: 1150px) {

    body {
        overflow: hidden;
    }

    h1 {
        margin-top: 16px;
        font-size: 40px !important;
    }

    form {
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 60vh;
        padding-right: 16px;
    }

    .task-container {
        width: 100%;
    }

    .form-left,
    .form-right,
    .addtask-footer {
        width: 100%;
    }

    .selectedUser {
        position: static;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .addtask-footer {
        padding-top: 16px;
        padding-right: 21px;
    }
}

@media (max-width: 1000px) {

    main {
        margin-left: 0;
    }

    .addtask-footer {
        margin-top: 30px;
        padding-top: 0;
    }

    form {
        max-height: 50vh;
    }

    .break-between {
        padding: 10px;
        background-color: var(--lightgrey);
    }
}

@media (max-width: 660px) {

    .addtask-footer {
        flex-direction: column;
    }
}


@media (max-width: 500px) {

    .subtask-buttons {
        display: inline !important;
    }

    .subtask-button {
        display: inline !important;
        background-color: var(--lightgrey);
    }

    #subtask-list li button {
        display: inline !important;
    }

    li:hover {
        background-color: transparent !important;
    }

    .clear,
    .create-task {
        font-size: 18px !important;
        padding: 6px 12px !important;
    }

    .form-actions {
        margin-top: 8px;
    }
}

@media (max-width: 480px) {
    .addtask-footer {
        padding-bottom: 30px;
    }

    .addtask-footer span {
        font-size: 14px;
    }

    section {
        height: calc(100vH - 142px);
    }

    main {
        padding: 12px;
    }
}

@media (max-width: 400px) {
    .prio-group {
        flex-direction: column;
    }

    h1 {
        font-size: 36px !important;
    }
}