@media (max-width: 1120px) {

    .headline {
        font-size: 48px !important;
        margin: 0;
        padding-left: 20px;
    }

    .headline-right {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .contact-name {
        font-size: 24px;
    }

    .contact-rightheadline {
        flex-direction: column;
        align-items: flex-start;
    }

    .vertical-line-blue {
        display: none;
    }

    .horizontal-line-blue {
        display: block;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .contact-actions button {
        margin: 0;
    }

    .contact-list {
        width: 430px;
    }

    .contact-container {
        margin-left: 645px;
    }

}

@media (max-width: 1050px) {

    .edit-btn,
    .delete-btn {
        padding: 10px !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 1000px) {
    .contact-detail-container {
        display: none;
    }

    .details-contact-name {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    .contact-container {
        margin: 0;
        display: flex;
        justify-content: flex-start;

    }

    .contact-list {
        width: 100%;
        left: 0;
        top: 70px;
        height: calc(100vH - 142px);
    }

    .contact-group {
        padding-left: 70px;
        padding-right: 70px;
    }

    .horizontal-line-blue {
        margin-left: 0;
    }

}

@media (min-width: 1000px) {

    #edit-btn,
    #delete-btn {
        position: static;
        display: flex;
        align-items: center;
        opacity: 1;
        transform: none;
    }

    #edit-points-btn {
        display: none;
    }

    .close-btn img {
        display: none;
    }

    .contact-list {
        display: block !important;
    }
}

@media (max-width: 880px) {

    .close-black-add-icon {
        left: 30px;
    }
}

@media (max-width: 840px) {
    .close-black-icon {
        left: 70px;
    }

    .close-black-add-icon {
        left: 0px;
    }

    input {
        width: 80%;
    }
}


@media (max-width: 800px) {

    .edit-overlay-middle {
        padding: 10px;
    }

    .overlay-contact-middle img {
        padding: 10px;
    }
}

@media (max-width: 730px) {

    button.create-contact {
        padding: 10px;
    }

    button.cancel {
        padding: 10px;
    }
}

@media (max-width: 720px) {

    .overlay-content {
        flex-direction: column;
        width: 350px;
        height: auto;
        padding-bottom: 20px;
    }

    .overlay-left {
        border-radius: 20px 20px 0 0;
        padding-bottom: 60px;
        padding-top: 30px;
        width: auto;
    }

    .overlay-left h1 {
        margin: 0;
        padding-top: 30px;
    }

    .overlay-left p {
        margin: 0;
        padding-bottom: 10px;
    }

    .overlay-left img {
        display: none;
    }

    .overlay-contact-middle img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: auto;
        z-index: 2;
        padding: 0;
    }

    .edit-overlay-middle {
        padding: 0;
    }

    .edit-overlay-middle span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: auto;
        z-index: 2;
        padding: 0;
    }

    form {
        padding-top: 60px;
        display: flex;
        align-items: flex-start;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .close-icon {
        display: block !important;
    }

    button.cancel {
        display: none;
    }

    .close-black-icon {
        display: none;
    }

    .close-black-add-icon {
        display: none;
    }

    input {
        width: 100%;
    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        flex-direction: column;
    }
}

@media (max-width: 580px) {

    .add-contact-container {
        display: none;
        padding: 0;
    }

    .add-contact-btn {
        position: fixed;
        bottom: 80px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0;
        font-size: 0;
        background-color: var(--darkblue);
    }

    .add-contact-btn img {
        margin: 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 500px) {

    .contact-group {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact-avatar {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 375px) {

    .overlay-content {
        height: auto;
    }

    .headline {
        font-size: 36px !important;
    }

    .add-contact-btn {
        width: 45px;
        height: 45px;
    }

    .contacts-button {
        margin-bottom: 5px;
    }
}

@media (max-width: 370px) {

    .name {
        font-size: 16px;
    }

    .email {
        font-size: 10px;
    }

    .contact-avatar {
        width: 65px;
        height: 65px;
        font-size: 16px;
    }
}