@media (max-width: 1000px) {

    main {
        margin-left: 0px;
    }
}

@media (max-width: 470px) {

    .headline {
        font-size: 45px !important;
    }

    main {
        padding: 20px;
    }
}